// Breakpoints
// 640px, 1150px, 1400px
$breakpoints-up: (
  'medium': '40em',
  'large': '71.875em',
  'xlarge': '87.5em',
);

// 639px, 1149px, 1399px
$breakpoints-down: (
  'small': '39.9375em',
  'medium': '71.8125em',
  'large': '87.4375em',
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

// Variables
// ! SYSTEM FONTS
:root {
  // * Sans-Serif
  --ff-system-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  // * Serif
  --ff-system-serif: Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  // * Monospace
  --ff-system-monospace: Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace;
}

// ! COLORS
:root {
  --background-color: rgb(255, 255, 255);
  --header-text-color: rgb(0, 0, 0);
  --body-text-color: rgb(0, 0, 0);
  // * COLOR PALETTE
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(0, 0, 0);
  --tertiary-color: rgb(0, 0, 0);
}

// Functions
@use 'sass:math';

// Source: https://css-tricks.com/snippets/sass/px-to-em-functions/
@function rem($pixels, $context: 16) {
  @return (math.div($pixels, $context)) * 1rem;
}

// Mixins
