// Reset / Normalize
html {
  font-size: 100%;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  text-rendering: optimizeSpeed;
  font-family: var(--ff-system-sans-serif);
  background-color: var(--background-color);
  color: var(--body-text-color);
}

// Typography Rules
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
  line-height: 1.1;
}

p {
  font-family: var(--ff-tertiary);
  margin-top: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
