:root {
  // Set White and Black as variables
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  // Set Background Color
  --background-color: rgb(23, 70, 162);
  // Set Text Colors
  --header-text-color: var(--primary-color);
  --body-text-color: var(--secondary-color);
  // Color Palette -> Enter your own colors here
  --primary-color: rgb(255, 115, 29);
  --secondary-color: rgb(255, 247, 233);
  --tertiary-color: rgb(95, 157, 247);
}
