@use '../util' as *;

h1,
h2,
h3 {
  font-family: var(--ff-primary);
  color: var(--header-text-color);
  line-height: 1.1;
}

h4,
h5,
h6 {
  font-family: var(--ff-primary);
  color: var(--header-text-color);
  line-height: 1.1;
}

p {
  margin-top: 0;
  font-family: var(--ff-tertiary);
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
