// SASS / CSS Custom Variables
// ! SYSTEM FONTS
:root {
  // * Sans-Serif
  --ff-system-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  // * Serif
  --ff-system-serif: Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  // * Monospace
  --ff-system-monospace: Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace;
}

// ! COLORS
:root {
  --background-color: rgb(255, 255, 255);
  --header-text-color: rgb(0, 0, 0);
  --body-text-color: rgb(0, 0, 0);
  // * COLOR PALETTE
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(0, 0, 0);
  --tertiary-color: rgb(0, 0, 0);
}
